.App {

  background-color: violet;
  display: flex;
  flex-direction: column;
}
.search-bar{
  margin: 20px;
  width: 400px;
  height: 40px;
 
}
.search-form{
display: flex;
flex-direction: column;
align-items: center;

}
.search-button{
  margin: 20px;
  width: 100px;
  height: 30px;
  border: 2px solid pink;
  color : pink;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
